@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
.Landing{
    background-color: black;
    text-align: center;
    font-size: xx-large;
    color: white;
    background-image: url(.././images/icons/dark\ image.jpg);
    height: 500px;

    }
section{
    background-color: white;
    color: darkcyan;
}
h1{
    font-weight: bolder;
    font-size: 100px;
    padding-top: 5%;
    text-decoration: double;
    font-family: 'Bruno Ace SC', cursive;
    box-shadow: 100%;
    text-decoration: double;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    padding-top: 25%;
    width: 33,33%;
    padding: auto;
    word-spacing: 20px;
    list-style-type: none;
}
.nav-links{
    padding: 10px 10px;
    text-decoration: double;
    font: bold;
    position: sticky;
    z-index: 0;
}
.nav-links{
    background-color: transparent;
    color:w;
    animation-name: stretch;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-timing-function: linear;
    animation-delay: none;
    position: relative;
}
a{
 background-color: transparent;
font-weight: bolder;
color:darkcyan;
text-decoration: none;
font-family: 'Bruno Ace SC', cursive;
padding-top: 20%;
}
a:hover{
    color: white;
    text-shadow: 10px;
}
.footer{
    width: 100%;
    left: 0;
    background-image:url(../images/icons/dark\ image.jpg);
    bottom: 0;
    position: fixed;
    font-weight: bolder;
    color: white;
    height: 50px;
}
@keyframes move{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}
.moving{
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    animation-direction: reverse;
    font-size: large;
    animation-timing-function: cubic-bezier(1, 1, 1, 1);
}
#Me{
    color: darkcyan;
}

p{
    font-weight: bolder;
}

#facebook{
    transform: scale(1) !important;
    transform-style: preserve-3d;
}
#facebook:hover{
    transform: scale(1.3) !important;
}
.twitter{
    transform: scale(1);
}
.twitter:hover{
    transform: scale(1.3);
}
.github{
    transform: scale(1);
}
.github:hover{
    transform: scale(1.3)
    ;
}
.nav-link{
    color: darkcyan;
}
.nav-link active{
    color: darkcyan;
}

.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    padding-top: 10px;
    padding-left: 50px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px white;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
    font-family:'Bruno Ace SC', cursive;
    font-size: large; 
    text-align: left;
  }
  .About{
    font-size: large;
    padding-top: 10%;
}
.col{
    border: solid darkcyan;
    border-bottom: transparent;
    font-family:'Bruno Ace SC', cursive;
    font-size: large; 
}
h3{
    color: darkcyan;
}
h2{
    font-weight: bolder;
    font-family:'Bruno Ace SC', cursive;
    color: darkcyan;
}
.Education{
    font-weight: none;
}
.col-2{
    border: white;
    text-align: center;
}
.work{
    padding-left: 50%;
}
.exp{
    padding-left: 50%;
    font-size: large;
}
.hov{
    animation-name: shake;
}
.flip-card-3 {
    background-color: transparent;
    width: 500px;
    height: 100px;
    padding-top: 10px;
  }
  
  .flip-card-3-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 white;
  }
  
  .flip-card-3:hover .flip-card-3-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-3-front, .flip-card-3-back {
    position: absolute;
    width: 500px;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-3-front {
    background-color:transparent;
    color: black;
  }
  
  .flip-card-3-back {
    background-color: transparent;
    color: black;
    transform: rotateY(180deg);
    font-family:'Bruno Ace SC', cursive;
    font-size: large; 
    text-align: left;
  }  
.comps{
    color: black;
    font-size: large;
    height: 5px;
    display: flex;
    gap: 25%;
    padding-bottom:18%;
    background-color:darkcyan;
}
#About{
    height: 600px;

}
.HTML{
    color: white;
    font-family:'Bruno Ace SC', cursive;
}
.CSS{
    color: white;
    font-family:'Bruno Ace SC', cursive ;
}
.JS{
    color: white;
    font-family: 'Bruno Ace SC', cursive;
}
.Projects{
    text-align: center;
    padding-top: 5%;
}
.cards{
    display: flex;
    padding-top: 10%;
    padding: 100px;
    gap: 2%;
}